{{ form_start(form) }}
    <div class="row mb-3">
        <div class="col-md-6">{{ form_row(form.titre) }}</div>
        <div class="col-md-6">{{ form_row(form.code) }}</div>
    </div>
    <div class="row mb-3">
        <div class="col-md-4">{{ form_row(form.auteur) }}</div>
        <div class="col-md-4">{{ form_row(form.editeur) }}</div>
        <div class="col-md-4">{{ form_row(form.categorie) }}</div>
    </div>
    <div class="row mb-3">
        <div class="col-md-4">{{ form_row(form.imageFile) }}</div>
        <div class="col-md-2">{{ form_row(form.prix) }}</div>
        <div class="col-md-6">{{ form_row(form.resume) }}</div>
    </div>
    <div class="row">
        <div class="col-md-12">{{ form_row(form.active) }}</div>
    </div>
    {{ form_widget(form) }}
    <button class="btn btn-outline-primary mt-2">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
